# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# TypeScript / Node
node_modules/

# Turbo
.turbo/

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# RSS
*.xml

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# TanStack generated
.tanstack/
routeTree.gen.ts

# MacOS
.DS_Store

# pnpm store
.pnpm-store/

# build output
dist
build

# tsbuildinfo
tsconfig.tsbuildinfo

# Deepwork tracking
.slim/deepwork/

# SolidStart
.vinxi/
.output/
app.config.timestamp_*.js

# data
.data

# nitro
.nitro
